<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Aging Page</title>
</head>
<body>
   
    <div class="container mt-5">
        <div class="row">
            <div class= mt-3>    
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex mb-3 justify-content-start align-items-center">
                <a href="{% url 'home' %}" class="btn btn-primary px-3 btn-sm">back</a>
            </div>
            <h2>Bill Aging Report for {{ party.party_name }}</h2>
            <h2 class="text-center text-white bg-primary p-3">Aging Details</h2></a>
            
      
            


            <table class="table">
                <tr>
                    <th>Bill Date</th>
                    <th>Bill Number</th>
                    <th>Party Name</th>
         
                    <th>Less than 30 days</th>
                    <th>31 to 60 days</th>
                    <th>61 to 90 days</th>
                    <th>Greater than 90 days</th>
                </tr>
                {% for entry in aging_data %}
                    <tr>
                        <td>{{ entry.bill_date }}</td>
                        <td>{{ entry.bill_number }}</td>
                        <td>{{ entry.party_name }}</td>
                        <td>{% if entry.age_category == 'Less than 30 days' %}{{ entry.amount }}{% else %}0{% endif %}</td>
                        <td>{% if entry.age_category == '31 to 60 days' %}{{ entry.amount }}{% else %}0{% endif %}</td>
                        <td>{% if entry.age_category == '61 to 90 days' %}{{ entry.amount }}{% else %}0{% endif %}</td>
                        <td>{% if entry.age_category == 'Greater than 90 days' %}{{ entry.amount }}{% else %}0{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>

            

        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>


